{{ define "main" }}
<main>
    <style>
        .item {
            color: black;
            line-height:2
        }
    </style>
    <article>
        <header>
            <h1>{{.Title}}</h1>
        </header>
        <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
        {{.Content}}
    </article>
    <ul>
        <!-- Ranges through content/posts/*.md -->
        {{ range .Pages }}
        <li>
            <a class="item" href="{{.Permalink}}"> {{.Title}}|{{.Permalink}}</a>
        </li>
        {{ end }}
    </ul>
    <script>
        var a = document.getElementsByClassName("item")
        Array.from(a).forEach((a) => {
            var u = new URL(a.href)
            u.host = new URL(window.location.href).host
            a.href = u.href
            var bb = a.text.split("|")
            if (bb.length == 2) {
                if (bb[0] != " ") {
                    a.text = bb[0].replace(new RegExp("\"", "g"), "")
                } else {
                    var url = new URL(bb[1])
                    var ll = decodeURIComponent(url.pathname).split("/")
                    if (ll[ll.length - 1] == "") {
                        a.text = "["+ll[ll.length - 2]+"] ->"
                    } else {
                        a.text = "["+ll[ll.length - 1]+"] ->"
                    }
                }
            }
        })
    </script>
</main>
{{ end }}
