<!-- <h1>{{.Title}}</h1> -->
<br>
{{ range (.GetTerms "tags") }}
<span style="background-color:gainsboro;border-radius:4px;text-align: center; padding-left: 4px;">
    <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
</span>&nbsp;
{{ end }}
<br><br>
<style>
    a.right{margin-left: 60%;}
</style>
<!-- {{if .Prev}}<a href="{{.Prev.Permalink}}">Prev</a>{{end}} {{if .Next}}<a class="right" href="{{.Next.Permalink}}">Next</a>{{end}} -->
<!-- {{if .Prev}}<a href="{{.Prev.Permalink}}">{{.Prev.LinkTitle}}</a>{{end}} {{if .Next}}<a class="right" href="{{.Next.Permalink}}">{{.Next.LinkTitle}}</a>{{end}} -->
