<script id="doc-highlight-configurations">
  function DocHighlighterInit() {
    try {
      let {DocHighlighter,name ,color} = {"DocHighlighter":{"leancloud":{"appId":"dvMVEXYBm0Rpy5JyWhhm6D43-gzGzoHsz","appKey":"UeGNjOzrueJjiSpjzipJpvfJ","serverURL":"https://dvmvexyb.lc-cn-n1-shared.com"}},"name":"映山红笔记","color":"#ff5e07"}
      if (DocHighlighter == undefined) return;
      window.DocHighlighter = DocHighlighter
      let hexo = true;
      let meta;
      let sidebar = 'left';
      let articleSelector = () => {
            let selector = ['article']
            for (let i = 0; i < selector.length; i++) {
                let s = selector[i];
                let ret = document.querySelectorAll(s)
                if (ret.length > 0) {
                    return ret[0];
                }
            }
            return
        }
      let hlinit = ()=>{
        window.hlinit(color);
      }
      window.$docsify = {
        content: ".markdown",
        name,
        hexo,
        articleSelector,
        sidebar,
        DocHighlighter,
        hlinit
      };
      var root = document.querySelector(':root');
      if (root) {
//        root.setAttribute('style', '--theme-color: red');
      }
      window.addEventListener('pjax:success', ()=>{
        window.$docsify.hlinit()
      });
    } catch (error) {
      console.log(error);
    }
  }
  DocHighlighterInit()

</script>
<script type="text/javascript" src="https://unpkg.com/docsify-highlight/dist/docsify-highlight.umd.min.js"></script>
<script type="text/javascript">
try{
    window.$docsify.hlinit()
    let panel = document.querySelector(".op-panel")
    let style = panel.style
    style.top="-40px"
    panel.style = style
}catch(e){
  
}
</script>


